@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

a{
    color: #000000 !important;
}
/* .col-md-3 offset-md-3{
    text-align: center;
} */

.mycard{
    margin-top: 30px;
}

h4{
    font-family: 'Open Sans';
    font-weight: bold;
}

Link{
    align-items: center;
}

.auth-card{
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: 10px auto;
}

button{
    background-color:#7ECB20;
}